.element_box{
  width: 40%;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin:auto;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  

}

.element_box h2{
    text-align: center;
}